In [15]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [16]:
df = pd.read_csv('grapes_new.csv')
df

,COLOR_INTENSITY,SHAPE,RIPENESS_PER,ALCOHOL_PER,MALIC_ACID_PER,ASH,ALCALINITY_OF_ASH,MAGNESIUM_MEASURE,TOTAL_PHENOLS,FLAVANOIDS,...,HUE,PROLINE,TEMPERATURE,AVG_HUMIDITY,FERT_NITRO_PER,WATER_O2_PER,WATER_PH,FER_P2O5_PER,SOIL_TYPE,CLASS
0,120.53,elliptical,16.73,14.23,1.71,2.43,15.6,127,2.80,3.06,...,1.04,1065,23.34,54.99,31.21,97.67,7.71,52.02,archean,High
1,112.57,elliptical,20.30,13.20,1.78,2.14,11.2,100,2.65,2.76,...,1.05,1050,23.40,51.91,31.28,99.05,7.66,48.18,archean,High
2,120.78,elliptical,20.81,13.16,2.36,2.67,18.6,101,2.80,3.24,...,1.03,1185,22.29,50.69,31.92,97.95,7.66,28.15,archean,High
3,134.17,elliptical,19.47,14.37,1.95,2.50,16.8,113,3.85,3.49,...,0.86,1480,21.28,47.72,31.79,95.46,7.21,55.95,alluvial,High
4,112.19,round,17.57,13.24,2.59,2.87,21.0,118,2.80,2.69,...,1.04,735,23.76,45.09,31.86,94.45,7.80,55.99,archean,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,102.34,elliptical,21.23,12.07,2.16,2.17,21.0,85,2.60,2.65,...,0.86,378,25.58,46.15,30.14,89.52,8.49,55.83,alluvial,Medium
190,109.80,elliptical,21.67,12.43,1.53,2.29,NaN,86,2.74,3.15,...,0.69,352,24.23,52.23,30.72,85.91,7.73,55.47,archean,Medium
191,103.86,round,22.01,11.79,2.13,2.78,28.5,92,2.13,2.24,...,0.97,466,27.62,48.98,30.46,86.31,7.57,47.57,archean,Medium
192,98.30,elliptical,21.95,12.37,1.63,2.30,24.5,88,2.22,2.45,...,0.89,342,27.54,47.72,30.01,90.60,7.15,45.91,alluvial,Medium
193,101.33,elliptical,21.60,12.04,4.30,2.38,NaN,80,2.10,1.75,...,0.79,580,25.10,55.42,30.89,88.14,6.68,52.42,archean,Medium

In [17]:
label_encoder = LabelEncoder()
onehot_encoder = OneHotEncoder(sparse_output=False)

In [18]:
df['CLASS'] = label_encoder.fit_transform(df['CLASS'])
df.head()

,COLOR_INTENSITY,SHAPE,RIPENESS_PER,ALCOHOL_PER,MALIC_ACID_PER,ASH,ALCALINITY_OF_ASH,MAGNESIUM_MEASURE,TOTAL_PHENOLS,FLAVANOIDS,...,HUE,PROLINE,TEMPERATURE,AVG_HUMIDITY,FERT_NITRO_PER,WATER_O2_PER,WATER_PH,FER_P2O5_PER,SOIL_TYPE,CLASS
0,120.53,elliptical,16.73,14.23,1.71,2.43,15.6,127,2.80,3.06,...,1.04,1065,23.34,54.99,31.21,97.67,7.71,52.02,archean,0
1,112.57,elliptical,20.30,13.20,1.78,2.14,11.2,100,2.65,2.76,...,1.05,1050,23.40,51.91,31.28,99.05,7.66,48.18,archean,0
2,120.78,elliptical,20.81,13.16,2.36,2.67,18.6,101,2.80,3.24,...,1.03,1185,22.29,50.69,31.92,97.95,7.66,28.15,archean,0
3,134.17,elliptical,19.47,14.37,1.95,2.50,16.8,113,3.85,3.49,...,0.86,1480,21.28,47.72,31.79,95.46,7.21,55.95,alluvial,0
4,112.19,round,17.57,13.24,2.59,2.87,21.0,118,2.80,2.69,...,1.04,735,23.76,45.09,31.86,94.45,7.80,55.99,archean,0

# One Hot Coder

In [19]:
onehot_encoder_shape = OneHotEncoder(sparse_output=False)
shape_encoded = onehot_encoder_shape.fit_transform(df[['SHAPE']])
shape_encoded_df = pd.DataFrame(shape_encoded, columns=onehot_encoder_shape.get_feature_names_out(['SHAPE']))

# Initialize OneHotEncoder for 'SOIL_TYPE'
onehot_encoder_soil = OneHotEncoder(sparse_output=False)
soil_type_encoded = onehot_encoder_soil.fit_transform(df[['SOIL_TYPE']])
soil_type_encoded_df = pd.DataFrame(soil_type_encoded, columns=onehot_encoder_soil.get_feature_names_out(['SOIL_TYPE']))

# Concatenate the original dataframe with the one-hot encoded columns
df_encoded = pd.concat([df, shape_encoded_df, soil_type_encoded_df], axis=1)
df_encoded.head()

,COLOR_INTENSITY,SHAPE,RIPENESS_PER,ALCOHOL_PER,MALIC_ACID_PER,ASH,ALCALINITY_OF_ASH,MAGNESIUM_MEASURE,TOTAL_PHENOLS,FLAVANOIDS,...,FERT_NITRO_PER,WATER_O2_PER,WATER_PH,FER_P2O5_PER,SOIL_TYPE,CLASS,SHAPE_elliptical,SHAPE_round,SOIL_TYPE_alluvial,SOIL_TYPE_archean
0,120.53,elliptical,16.73,14.23,1.71,2.43,15.6,127,2.80,3.06,...,31.21,97.67,7.71,52.02,archean,0,1.0,0.0,0.0,1.0
1,112.57,elliptical,20.30,13.20,1.78,2.14,11.2,100,2.65,2.76,...,31.28,99.05,7.66,48.18,archean,0,1.0,0.0,0.0,1.0
2,120.78,elliptical,20.81,13.16,2.36,2.67,18.6,101,2.80,3.24,...,31.92,97.95,7.66,28.15,archean,0,1.0,0.0,0.0,1.0
3,134.17,elliptical,19.47,14.37,1.95,2.50,16.8,113,3.85,3.49,...,31.79,95.46,7.21,55.95,alluvial,0,1.0,0.0,1.0,0.0
4,112.19,round,17.57,13.24,2.59,2.87,21.0,118,2.80,2.69,...,31.86,94.45,7.80,55.99,archean,0,0.0,1.0,0.0,1.0

In [20]:
df_encoded.drop(['SHAPE', 'SOIL_TYPE'], axis=1, inplace=True)
df_encoded.head()

,COLOR_INTENSITY,RIPENESS_PER,ALCOHOL_PER,MALIC_ACID_PER,ASH,ALCALINITY_OF_ASH,MAGNESIUM_MEASURE,TOTAL_PHENOLS,FLAVANOIDS,PROANTHOCYANINS,...,AVG_HUMIDITY,FERT_NITRO_PER,WATER_O2_PER,WATER_PH,FER_P2O5_PER,CLASS,SHAPE_elliptical,SHAPE_round,SOIL_TYPE_alluvial,SOIL_TYPE_archean
0,120.53,16.73,14.23,1.71,2.43,15.6,127,2.80,3.06,2.29,...,54.99,31.21,97.67,7.71,52.02,0,1.0,0.0,0.0,1.0
1,112.57,20.30,13.20,1.78,2.14,11.2,100,2.65,2.76,1.28,...,51.91,31.28,99.05,7.66,48.18,0,1.0,0.0,0.0,1.0
2,120.78,20.81,13.16,2.36,2.67,18.6,101,2.80,3.24,2.81,...,50.69,31.92,97.95,7.66,28.15,0,1.0,0.0,0.0,1.0
3,134.17,19.47,14.37,1.95,2.50,16.8,113,3.85,3.49,2.18,...,47.72,31.79,95.46,7.21,55.95,0,1.0,0.0,1.0,0.0
4,112.19,17.57,13.24,2.59,2.87,21.0,118,2.80,2.69,1.82,...,45.09,31.86,94.45,7.80,55.99,0,0.0,1.0,0.0,1.0